body{
    background: #6effc3;
}
.text {
    color: rgb(66, 0, 61);
    padding-left: 40%;
    padding-right: 40%;
}
img {
    margin-left: 40%;
    width: 300px;
    height: 300px;
    display: inline-block;
}
h1 {
    margin-left: auto;
    padding: 10px;
    border: 2px solid rgb(4, 0, 41);
}
.contact{
    padding-left: 40%;
    padding-right: 40%;
    text-align: center;
}
a {
    color: rgb(87, 2, 104);
    border: 1px solid rgb(201, 3, 3)
}
